/engine/*
!/engine/inc/
/engine/inc/*
!/engine/inc/twelvee_core.php
!.gitignore
!/engine/modules
/engine/modules/*
!/engine/modules/twelvee
/backup/*
/language/*
/templates/*
/uploads/*
!twelvee_core.xml
/.htaccess
/admin.php
/cron.php
/index.php
/robots.txt
.idea